src/woodStockAI.json
{
  "name": "woodStockAI",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        160
      ],
      "id": "176df409-d252-4719-8d61-ee5659557ab4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5Y0z2w4XgOgKbaVu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        416,
        160
      ],
      "id": "d2846d14-46ea-44f8-9874-0042289c2234",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "toolDescription": "This tool fetches all the ToDos ",
        "url": "https://jsonplaceholder.typicode.com/posts/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        768,
        112
      ],
      "id": "49962008-5c25-4c0b-bd91-d58608ae65ba",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -144,
        272
      ],
      "id": "2a28bfa6-616c-4933-aee2-29ff398c6257",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "WahSkasTHE6VLLd5",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "query": "query",
        "additionalParameters": {}
      },
      "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
      "typeVersion": 1,
      "position": [
        656,
        128
      ],
      "id": "e0d4f119-3396-43f3-80db-136832eabe49",
      "name": "Brave Search",
      "credentials": {
        "braveSearchApi": {
          "id": "XfEpY454fdrwP06p",
          "name": "Brave Search account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1466975928440721492",
          "mode": "list",
          "cachedResultName": "AI hub",
          "cachedResultUrl": "https://discord.com/channels/1466975928440721492"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "435093533980885003",
          "mode": "list",
          "cachedResultName": "zaythechopper"
        },
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        848,
        -128
      ],
      "id": "53f79263-3c66-41b3-bcc5-e7b8bd19ce52",
      "name": "Send a message",
      "webhookId": "ac9e373f-1568-4797-a971-a74b28c2a4e5",
      "credentials": {
        "discordBotApi": {
          "id": "tpvCEHCHsElvRSVS",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -576,
        -320
      ],
      "id": "6f2cdc2e-8206-4dc9-a379-79bff27620de",
      "name": "Summarize"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        48,
        0
      ],
      "id": "86fdb61d-143f-4b80-a9d2-98b2886e7815",
      "name": "When chat message received",
      "webhookId": "9e0cb789-f33f-4ee6-8a8e-e66ca390d965"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -96
      ],
      "id": "5ed96180-064e-4419-9e18-16988ce81203",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "toolDescription": "This is an CSV file and your job is to summarize it",
        "url": "https://raw.githubusercontent.com/secretGeek/AwesomeCSV/master/awesomecsv.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        912,
        96
      ],
      "id": "2355744c-05bd-4353-8e3d-787e39b7130f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        192
      ],
      "id": "147bee82-e045-42f3-8fd6-6cfeb1003bb9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "This is a pdf file that verifies if you can see it or not",
        "url": "https://equilead.org/assets/eventagendadocument/sample.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1072,
        112
      ],
      "id": "54319ceb-287b-4da9-abea-f360e37edb88",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        0
      ],
      "id": "880134eb-225a-42fb-aac0-236fed240d12",
      "name": "Telegram Trigger1",
      "webhookId": "74262c90-342a-434c-a587-f8189e70ff22",
      "credentials": {
        "telegramApi": {
          "id": "GttEc8MZYP3QrTBo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Your name is woodstock AI or woodstock for short.\nYou are an helpful assistant that answers.  You have tools such as Brave API, and HTTP request tools to use if necessary. You also have access to a call n8n workflow execution"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        464,
        -128
      ],
      "id": "8dac8109-cf84-4ec2-88b7-51175f6c20c8",
      "name": "woodStock AI(Summary)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dOMKGc4o3whyCHoO",
          "mode": "list",
          "cachedResultUrl": "/workflow/dOMKGc4o3whyCHoO",
          "cachedResultName": "Snoopy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        544,
        240
      ],
      "id": "8a2ea3a9-6913-4918-b2ca-d0a9642a5f04",
      "name": "Call n8n Workflow Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "woodStock AI(Summary)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "woodStock AI(Summary)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "woodStock AI(Summary)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Brave Search": {
      "ai_tool": [
        [
          {
            "node": "woodStock AI(Summary)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "woodStock AI(Summary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "woodStock AI(Summary)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "woodStock AI(Summary)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "ai_tool": [
        [
          {
            "node": "woodStock AI(Summary)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "woodStock AI(Summary)": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "woodStock AI(Summary)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b06b72b-835a-42a8-bcb4-30d4c6beea89",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d50182ff5b114f454dabd6f8d9cd46af848a71738299c5a033b409db21c246b"
  },
  "id": "c4wV4gA8GYNuLFyL",
  "tags": []
}